{% extends "_layout_schedule.html"%}
{% block title %}Viettel Localized Incidents{% endblock %}
{%block pagebar%}
 <ul class="page-breadcrumb">
    <li>
        <a href="/home">HOMEPAGE</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="/insert_intf_group/">RULE INSERT INTERFACE IN GROUP</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Input RULE INSERT INTERFACE IN GROUP</span>
    </li>
</ul>
{%endblock%}
{%block pagetitle%}
    Add RULE INSERT INTERFACE IN GROUP

{%endblock%}
{% block content%}
    <div class="tab-pane" id="tab_1">
    <div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>ADD NEW RULE INSERT INTERFACE IN GROUP
        </div>

    </div>

    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="{{url_for('insert_intf_group.add')}}" class="horizontal-form"  method = "POST">
        <div class="form-body">
            <h3 class="form-section">RULE INFORMATION</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group has-error">
                        <label class="control-label">GROUP NAME</label>
                         {{form['group_name'](class = 'form-control input-mask', placeholder = "GROUP NAME", value=tbl_obj.group_name)}}
                          <span class="help-block"> Example: FOIP_NEW_X </span>
                    </div>
                </div>
            <!--/span-->
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">RULE DESCRIPTION</label>
                        {{form['rule_description'](class = 'form-control input-mask', placeholder = 'RULE DESCRIPTION', value=tbl_obj.rule_description )}}
                        <span class="help-block"> Example: CKV-CKV </span>
                    </div>
                </div>
            <!--/span-->
            </div>
            <!--/row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">AREA</label>
                         {{form['area'](class = 'form-control input-mask', placeholder = "AREA", value=tbl_obj.area)}}
                          <span class="help-block"> Example: KV1 </span>
                    </div>
                </div>
            <!--/span-->
                <div class="col-md-6">
                    <div class="form-group has-error">
                        <label class="control-label">HOST CONTAIN</label>
                        {{form['host_contain'](class = 'form-control input-mask', placeholder = 'HOST CONTAIN', value=tbl_obj.host_contain )}}
                        <span class="help-block"> Format: CKV </span>
                    </div>
                </div>
            <!--/span-->
            </div>
            <!--/row-->
             <!--/row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group has-error">
                        <label class="control-label">INTERFACE CONTAIN</label>
                         {{form['interface_contain'](class = 'form-control input-mask', placeholder = "INTERFACE CONTAIN", value=tbl_obj.interface_contain)}}
                          <span class="help-block"> Example: GE </span>
                    </div>
                </div>
            <!--/span-->
                <div class="col-md-6">
                    <div class="form-group has-error">
                        <label class="control-label">INTERFACE NOT CONTAIN</label>
                        {{form['interface_not_contain'](class = 'form-control input-mask', placeholder = 'INTERFACE NOT CONTAIN', value=tbl_obj.interface_not_contain )}}
                        <span class="help-block"> Format: RETH </span>
                    </div>
                </div>
            <!--/span-->
            </div>
            <!--/row-->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group has-error">
                        <label class="control-label">INTERFACE DESCRIPTION</label>
                         {{form['interface_description'](class = 'form-control input-mask', placeholder = "INTERFACE DESCRIPTION", value=tbl_obj.interface_description)}}
                          <span class="help-block"> Example: CKV </span>
                    </div>
                </div>
            <!--/span-->
                <div class="col-md-6">
                    <div class="form-group has-error">
                        <label class="control-label">INTERFACE DESCRIPTION NOT CONTAIN</label>
                        {{form['interface_des_not_contain'](class = 'form-control input-mask', placeholder = 'INTERFACE DESCRIPTION NOT CONTAIN', value=tbl_obj.interface_des_not_contain )}}
                        <span class="help-block"> Format: RETH </span>
                    </div>
                </div>
            <!--/span-->
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">GROUP HOST NAME</label>
                         {{form['group_host_name'](class = 'form-control input-mask', placeholder = "GROUP HOST NAME", value=tbl_obj.group_host_name)}}
                          <span class="help-block"> Example: FOIP_IPBN </span>
                    </div>
                </div>
            <!--/span-->
                <div class="col-md-6">
                    <div class="form-group has-error">
                        <label class="control-label">SPEED GREATER(Mbps)</label>
                        {{form['speed_greater_mbps'](class = 'form-control input-mask', placeholder = 'SPEED GREATER(Mbps', value=tbl_obj.speed_greater_mbps )}}
                        <span class="help-block"> Format: 100 </span>
                    </div>
                </div>
            <!--/span-->
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">SPEED LESS(Mbps)</label>
                         {{form['speed_less_mbps'](class = 'form-control input-mask', placeholder = "SPEED LESS (Mbps)", value=tbl_obj.speed_less_mbps)}}
                          <span class="help-block"> Example: 10000 </span>
                    </div>
                </div>
            <!--/span-->
                <div class="col-md-6">


                    </div>
                </div>
            <!--/span-->

        </div>

        <div class="form-actions right">
            <button type="submit" class="btn blue" id="alert_show">
                <i class="fa fa-check">Save</i>
            </button>
            <a class="btn default" href="{{ url_for('insert_intf_group.index') }}" > Cancel </a>

        </div>
    </form><!-- END FORM-->
    </div>
    </div>
    </div>

{% endblock %}