{% extends "_layout_schedule.html"%}
{% block title %}Viettel Localized Incidents{% endblock %}
{%block pagebar%}
 <ul class="page-breadcrumb">
    <li>
        <a href="/home">HOMEPAGE</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="/insert_intf_group/">RULE INSERT INTERFACE IN GROUP</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>RULE INSERT INTERFACE IN GROUP</span>
    </li>
</ul>
{%endblock%}
{%block pagetitle%}
    RULE INSERT INTERFACE IN GROUP LIST

{%endblock%}
{% block content%}
    <div class="row">
        <div class="col-md-12">
            <a class ="btn btn-primary pull-right" href="{{ url_for('insert_intf_group.add') }}"> ADD NEW</a>
        </div>
    </div>
    <br/>

    <div class="table-responsive">
        <form action="{{url_for('insert_intf_group.index_srch')}}" class="horizontal-form" id="ajax_form" method="post">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-3">
                                 {{form['key_name'](class = 'form-control input-mask', placeholder = "Search")}}
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn blue" id="alert_show">
                                <i class="fa fa-check">Search</i>
                            </button>
                        </div>
                    </div>
                    <br>
                    <b> Total :{{ total }} </b>
                    <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th> GROUP NAME  </th>
                                    <th> RULE DESCRIPTION </th>
                                    <th> AREA</th>
                                    <th> HOST CONTAIN </th>
                                    <th> INTERFACE CONTAIN </th>
                                    <th> INTERFACE DESCRIPTION </th>
                                    <th> INTERFACE NOT CONTAIN </th>
                                    <th> INTERFACE DESCRIPTION NOT CONTAIN </th>
                                    <th> SPEED GREATER MBPS </th>
                                    <th> SPEED LESS MBPS </th>
                                    <th>Edit / Delete</th>


                                </tr>
                            </thead>
                            <tbody>
                                {%for x in tbl_lst%}
                                <tr>
                                    <td> {{x['group_name']}} </td>
                                    <td> {{x['rule_description']}} </td>
                                    <td> {{x['area']}} </td>
                                    <td> {{x['host_contain']}} </td>
                                    <td> {{x['interface_contain']}} </td>
                                    <td> {{x['interface_description']}} </td>
                                    <td> {{x['interface_not_contain']}} </td>
                                    <td> {{x['interface_des_not_contain']}} </td>
                                    <td> {{x['speed_greater_mbps']}} </td>
                                    <td> {{x['speed_less_mbps']}} </td>
                                    <td>
                                        <a href="{{url_for('insert_intf_group.edit', id=x['id_insert'])}}"> <strong> Edit </strong> </a>
                                        <a href="{{url_for('insert_intf_group.delete', id=x['id_insert'])}}"> <strong> Delete </strong> </a>

                                    </td>

                                </tr>
                                {%endfor%}
                            </tbody>
                    </table>
                    <div align="right" >{{ pagination.links }} </div>
                </div>
         </form>
    </div>

{% endblock %}