{% extends "_layout_schedule.html"%}
{% block title %}IRONFACE{% endblock %}
{%block pagebar%}
 <ul class="page-breadcrumb">
    <li>
        <a href="/">HOMEPAGE</a>
        <i class="fa fa-circle"></i>
    </li>

</ul>
{%endblock%}
{%block pagetitle%}
    LOGIN PAGE

{%endblock%}
{% block content%}

    <br/>
    <div class="tab-content">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>LOGIN FORM
                </div>
            </div>
            <div class="portlet-body form">

                <form action="{{url_for('auth.login')}}" class="horizontal-form" id="login_form" method="post">
                     <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Username</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    {{form['username'](class = 'form-control input-circle-left', placeholder = "Username")}}
                                    <span class="input-group-addon input-circle-right">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                            </div>
                        </div><br><br>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Password</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    {{form['password'](class = 'form-control input-circle-left', placeholder = "Password")}}
                                    <span class="input-group-addon input-circle-right">
                                        <i class="fa fa-user"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                     </div>
                     <div class="form-actions">
                         <div class="row">
                             <div class="col-md-offset-3 col-md-9">
                                 <button type="submit" class="btn btn-circle green">Submit</button>
                             </div>
                         </div>
                     </div>

                </form>
            </div>
        </div>
    </div>

{% endblock %}