{% extends "_layout_schedule.html"%}
{% block title %}IRONFACE{% endblock %}
{%block pagebar%}
 <ul class="page-breadcrumb">
    <li>
        <a href="/">HOMEPAGE</a>
        <i class="fa fa-circle"></i>
    </li>

</ul>
{%endblock%}
{%block pagetitle%}
    LOGIN FAIL PAGE
{%endblock%}
{% block content%}

    <br/>
    <div class="tab-content">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>LOGIN FAIL FORM
                </div>
            </div>
            <div class="portlet-body form">

                <form action="{{url_for('auth.login')}}" class="horizontal-form" id="login_form" method="post">
                     <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-10 control-label">Sorry, Username and Password does not correct. Please try again ...</label>

                        </div><br><br>


                     </div>


                </form>
            </div>
        </div>
    </div>

{% endblock %}