{% extends "_layout_schedule.html"%}
{% block title %}Viettel Localized Incidents{% endblock %}
{%block pagebar%}
 <ul class="page-breadcrumb">
    <li>
        <a href="/home">HOMEPAGE</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="/deny_web/">Deny Web</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Check History Deny Web</span>
    </li>
</ul>
{%endblock%}
{%block pagetitle%}
    Check History Deny Web
    {% if (err != "") %}
        <strong> <h3> Error: {{ err }}</h3></strong>
    {% endif %}
{%endblock%}
{% block content%}

    <br/>
    <div class="table-responsive">
        <form action="" class="horizontal-form" id="ajax_form" method="post" enctype="multipart/form-data">
             <div class="form-group">
                 <label for="exampleInputFile1">File input</label>
                 <input type="file" name="fileInput">
                 <p class="help-block"> Input CSV file with format URL/CV. </p>
                <a href="{{ url_for('deny_web.download', filename= 'deny.csv') }}"> Template File</a>
                 <div class="form-actions right">
                    <button type="submit" class="btn blue" id="alert_show">
                    <i class="fa fa-check"></i> OK</button>

                </div>
             </div>

         </form>
    </div>

{% endblock %}