{% extends "_layout_schedule.html"%}
{% block title %}Viettel Localized Incidents{% endblock %}
{%block pagebar%}
 <ul class="page-breadcrumb">
    <li>
        <a href="/home">HOMEPAGE</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="/deny_web/">Deny Web</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Input Deny Web</span>
    </li>
</ul>
{%endblock%}
{%block pagetitle%}
    Delete Deny Web
    {% if (info_mess != "") %}
        <strong> <h3> Info: {{ info_mess }}</h3></strong>
    {% endif %}
{%endblock%}
{% block content%}
    <div class="tab-pane" id="tab_1">
    <div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Delete Web
        </div>

    </div>

    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="{{url_for('deny_web.delete', id=id_web)}}" class="horizontal-form"  method = "POST">
        <div class="form-body">
            <h3 class="form-section">Do you want to delete this web ?</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">WEB NAME</label>
                         {{form['web'](class = 'form-control input-mask', placeholder = "WEB NAME", value=tbl_obj.web)}}
                          <span class="help-block"> Example: google.com </span>
                    </div>
                </div>
            <!--/span-->
                <div class="col-md-6">
                    <div class="form-group has-error">
                        <label class="control-label">DOCUMENT</label>
                        {{form['document'](class = 'form-control input-mask', placeholder = 'DOCUMENT', value=tbl_obj.cv)}}
                        <span class="help-block"> Example: CV-1234-5678 </span>
                    </div>
                </div>
            <!--/span-->
            </div>
            <!--/row-->

        </div>

        <div class="form-actions right">
            <button type="button" class="btn default">Cancel</button>
            <button type="submit" class="btn blue" id="alert_show">
                <i class="fa fa-check"></i> Yes</button>
        </div>
    </form><!-- END FORM-->
    </div>
    </div>
    </div>

{% endblock %}