{% extends "_layout_schedule.html"%}
{% block title %}Viettel Localized Incidents{% endblock %}
{%block pagebar%}
 <ul class="page-breadcrumb">
    <li>
        <a href="/home">HOMEPAGE</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="/deny_web/">Deny Web</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Check History Deny Web</span>
    </li>
</ul>
{%endblock%}
{%block pagetitle%}
    Check History Deny Web
    {% if (err != "") %}
        <strong> <h3> Error: {{ err }}</h3></strong>
    {% endif %}
{%endblock%}
{% block content%}

    <br/>
    <div class="table-responsive">
        <form action="" class="horizontal-form" id="ajax_form" method="post">
                <table class="table table-bordered" id="myTable">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> WEB  </th>
                                <th> USER ACTION </th>
                                <th> DOCUMENT</th>
                                <th> USER ORDER</th>
                                <th> TIME ORDER</th>
                                <th> USER CHECK</th>
                                <th> TIME CHECK</th>
                                <th> STATUS</th>
                                <th> Edit/Delete</th>

                            </tr>

                        </thead>
                        <tbody>
                            {%for x in web_lst%}
                            <tr>
                                <td> {{loop.index}} </td>
                                <td> {{x.web}} </td>
                                <td> {{x.usr}} </td>
                                <td> {{x.cv}} </td>
                                <td> {{x.usr_order}} </td>
                                <td> {{x.timestamp}} </td>
                                <td> {{x.usr_acc}} </td>
                                <td> {{x.time_acc}} </td>
                                <td>
                                     {% if (x.status == 0) %}
                                        DENY
                                     {% endif %}
                                     {% if (x.status == 1) %}
                                        ACCEPT
                                    {% endif %}
                                    {% if (x.status == 2) %}
                                        WAITING
                                    {% endif %}
                                </td>

                                <td> <a href = {{ url_for('deny_web.edit', id = x.Id) }}> Edit/</a>
                                    <a href = {{ url_for('deny_web.delete', id = x.Id) }}> Delete</a>
                                </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
         </form>
    </div>

{% endblock %}