{% extends "_layout_schedule.html"%}
{% block title %}Viettel Localized Incidents{% endblock %}
{%block pagebar%}
 <ul class="page-breadcrumb">
    <li>
        <a href="/home">HOMEPAGE</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="/nocpro_cabinet_bkk/">Cabinet BKK</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Input Cabinet BKK</span>
    </li>
</ul>
{%endblock%}
{%block pagetitle%}
    Add Cabinet BKK

{%endblock%}
{% block content%}
    <div class="tab-pane" id="tab_1">
    <div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>ADD NEW CABINET BKK
        </div>

    </div>

    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="{{url_for('nocpro_cabinet_bkk.add')}}" class="horizontal-form"  method = "POST">
        <div class="form-body">
            <h3 class="form-section">CABINET INFORMATION</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">CABINET NAME</label>
                         {{form['cabinet_name'](class = 'form-control input-mask', placeholder = "Cabinet Name")}}
                          <span class="help-block"> Example: 3HN0001 </span>
                    </div>
                </div>
            <!--/span-->
                <div class="col-md-6">
                    <div class="form-group has-error">
                        <label class="control-label">DOCUMENT</label>
                        {{form['document'](class = 'form-control input-mask', placeholder = 'Document')}}
                        <span class="help-block"> Example: 100/QD/VTNET </span>
                    </div>
                </div>
            <!--/span-->
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">REASON</label>
                         {{form['reason'](class = 'form-control input-mask', placeholder = "Reason")}}
                          <span class="help-block"> Reason: BKK </span>
                    </div>
                </div>
            <!--/span-->
                <div class="col-md-6">
                    <div class="form-group has-error">
                        <label class="control-label">EXPIRE DATE</label>
                        {{form['expire_date'](class = 'form-control input-mask', placeholder = 'Document')}}
                        <span class="help-block"> Format: YYYY-MM-DD HH:ii:ss </span>
                    </div>
                </div>
            <!--/span-->
            </div>


        </div>

        <div class="form-actions right">
            <button type="submit" class="btn blue" id="alert_show">
                <i class="fa fa-check">Save</i>
            </button>
            <a class="btn default" href="{{ url_for('nocpro_cabinet_bkk.index') }}" > Cancel </a>

        </div>
    </form><!-- END FORM-->
    </div>
    </div>
    </div>

{% endblock %}