{% extends "_layout_schedule.html"%}
{% block title %}Viettel Localized Incidents{% endblock %}
{%block pagebar%}
 <ul class="page-breadcrumb">
    <li>
        <a href="/home">HOMEPAGE</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="/nocpro_cabinet_bkk/">Deny Web</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Delete Cabinet</span>
    </li>
</ul>
{%endblock%}
{%block pagetitle%}
    Delete Cabinet

{%endblock%}
{% block content%}
    <div class="tab-pane" id="tab_1">
    <div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Delete Cabinet
        </div>

    </div>

    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="{{url_for('nocpro_cabinet_bkk.delete', name=name)}}" class="horizontal-form"  method = "POST">
        <div class="form-body">
            <h3 class="form-section">Do you want to delete this cabinet ?</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">CABINET NAME</label>
                         {{form['cabinet_name'](class = 'form-control input-mask', placeholder = "CABINET NAME", value=tbl_obj.cbn_name)}}
                          <span class="help-block"> Example: 3HN0001 </span>
                    </div>
                </div>
            <!--/span-->
                <div class="col-md-6">
                    <div class="form-group has-error">
                        <label class="control-label">DOCUMENT</label>
                        {{form['document'](class = 'form-control input-mask', placeholder = 'DOCUMENT', value=tbl_obj.document)}}
                        <span class="help-block"> Example: CV-1234-5678 </span>
                    </div>
                </div>
            <!--/span-->
            </div>
            <!--/row-->

        </div>

        <div class="form-actions right">
            <button type="submit" class="btn blue" id="alert_show">
                <i class="fa fa-check">Yes</i> </button>
            <a class="btn default" href="{{ url_for('nocpro_cabinet_bkk.index') }}" > Cancel </a>
        </div>
    </form><!-- END FORM-->
    </div>
    </div>
    </div>

{% endblock %}