{% extends "_layout_schedule.html"%}
{% block title %}Viettel Localized Incidents{% endblock %}
{%block pagebar%}
 <ul class="page-breadcrumb">
    <li>
        <a href="/home">HOMEPAGE</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="/nocpro_cabinet_bkk/">CABINET BKK</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Input Cabinet BKK</span>
    </li>
</ul>
{%endblock%}
{%block pagetitle%}
    Input Cabinet BKK

{%endblock%}
{% block content%}
    <div class="tab-pane" id="tab_1">
    <div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Edit Cabinet BKK
        </div>

    </div>

    <div class="portlet-body form">
        <!-- BEGIN FORM-->

    </div>
    </div>
    </div>

{% endblock %}