{% extends "_layout_schedule.html"%}
{% block title %}Viettel Localized Incidents{% endblock %}
{%block pagebar%}
 <ul class="page-breadcrumb">
    <li>
        <a href="/home">HOMEPAGE</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="/nocpro_cabinet_bkk/">Cabinet BKK</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>CABINET BKK LIST</span>
    </li>
</ul>
{%endblock%}
{%block pagetitle%}
    CABINET BKK LIST

{%endblock%}
{% block content%}
    <div class="row">
        <div class="col-md-12">
            <a class ="btn btn-primary pull-right" href="{{ url_for('nocpro_cabinet_bkk.add') }}"> ADD NEW</a>
        </div>
    </div>
    <br/>

    <div class="table-responsive">
        <form action="{{url_for('nocpro_cabinet_bkk.index_srch')}}" class="horizontal-form" id="ajax_form" method="post">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-3">
                                 {{form['key_name'](class = 'form-control input-mask', placeholder = "Search")}}
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn blue" id="alert_show">
                                <i class="fa fa-check">Search</i>
                            </button>
                        </div>
                    </div>

                    <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th> CABINET NAME  </th>
                                    <th> DOCUMENT </th>
                                    <th> REASON</th>
                                    <th> STATUS</th>
                                    <th> EXPIRE DATE</th>
                                    <th>Edit / Delete</th>


                                </tr>
                            </thead>
                            <tbody>
                                {%for x in tbl_lst%}
                                <tr>
                                    <td> {{x['CABINET_NAME']}} </td>
                                    <td> {{x['DOCUMENT']}} </td>
                                    <td> {{x['REASON']}} </td>
                                    <td> {{x['STATUS']}} </td>
                                    <td> {{x['EXPIRE_DATE']}} </td>
                                    <td>
                                        <a href="{{url_for('nocpro_cabinet_bkk.edit', name=x['CABINET_NAME'])}}"> <strong> Edit </strong> </a>
                                        <a href="{{url_for('nocpro_cabinet_bkk.delete', name=x['CABINET_NAME'])}}"> <strong> Delete </strong> </a>

                                    </td>


                                </tr>
                                {%endfor%}
                            </tbody>
                    </table>
                    <div align="right" >{{ pagination.links }} </div>
                </div>
         </form>
    </div>

{% endblock %}