{% extends "_layout_schedule.html"%}
{% block title %}Viettel Localized Incidents{% endblock %}
{%block pagebar%}
 <ul class="page-breadcrumb">
    <li>
        <a href="/home">HOMEPAGE</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="/intf_not_add_group/">INTERFACE NOT ADD IN GROUP</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span> INTERFACE NOT IN GROUP</span>
    </li>
</ul>
{%endblock%}
{%block pagetitle%}
     INTERFACE NOT IN GROUP LIST

{%endblock%}
{% block content%}

    <br/>

    <div class="table-responsive">
        <form action="{{url_for('intf_not_add_group.index_srch')}}" class="horizontal-form" id="ajax_form" method="post">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-3">
                                 {{form['key_name'](class = 'form-control input-mask', placeholder = "Search")}}
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn blue" id="alert_show">
                                <i class="fa fa-check">Search</i>
                            </button>
                        </div>
                    </div>
                    <br>
                    <b> Total: {{ total }} </b>
                    <br>

                    <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th> AREA</th>
                                    <th> HOST </th>
                                    <th> INTERFACE </th>
                                    <th> DESCRIPTION </th>
                                    <th> INTERFACE ID </th>
                                    <th> HOST GROUP NAME </th>
                                    <th> SPEED </th>
                                    <th> STATUS </th>
                                    <th> TIMESTAMP </th>



                                </tr>
                            </thead>
                            <tbody>
                                {%for x in tbl_lst%}
                                <tr>
                                    <td> {{x['area']}} </td>
                                    <td> {{x['host']}} </td>
                                    <td> {{x['intf']}} </td>
                                    <td> {{x['description']}} </td>
                                    <td> {{x['interface_id']}} </td>
                                    <td> {{x['host_group_name']}} </td>
                                    <td> {{x['SPEED']}} </td>
                                    <td> {{x['STATUS']}} </td>
                                    <td> {{x['timestamp']}} </td>

                                </tr>
                                {%endfor%}
                            </tbody>
                    </table>
                    <div align="right" >{{ pagination.links }} </div>
                </div>
         </form>
    </div>

{% endblock %}