{% extends "_layout_schedule.html"%}
{% block title %}Viettel Localized Incidents{% endblock %}
{%block pagebar%}
 <ul class="page-breadcrumb">
    <li>
        <a href="/home">HOMEPAGE</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="/afe/">NOCPRO AFE RULE</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>AFE Rule</span>
    </li>
</ul>
{%endblock%}
{%block pagetitle%}
    ADD NOCPRO AFE RULE
    {% if (info_mess != "") %}
        <strong> <h3> Info: {{ info_mess }}</h3></strong>
    {% endif %}
{%endblock%}
{% block content%}
    <div class="tab-pane" id="tab_1">
    <div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>ADD NEW AFE RULE
        </div>

    </div>

    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="{{url_for('nocpro_afe.add')}}" class="horizontal-form"  method = "POST">
        <div class="form-body">
            <h3 class="form-section">AFE RULE INFORMATION</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">DEVICE NAME</label>
                         {{form['device_name'](class = 'form-control input-mask', placeholder = "DEVICE NAME")}}
                          <span class="help-block"> Example: PECD01 </span>
                    </div>
                </div>
            <!--/span-->
                <div class="col-md-6">
                    <div class="form-group has-error">
                        <label class="control-label">SYSTEM</label>
                        {{form['system_code'](class = 'form-control input-mask', placeholder = 'SYSTEM')}}
                        <span class="help-block"> Example: SYSLOG_IP_CORE </span>
                    </div>
                </div>
            <!--/span-->
            </div>


        </div>

        <div class="form-actions right">
            <button type="submit" class="btn blue" id="alert_show">
                <i class="fa fa-check"></i> Save</button>
        </div>
    </form><!-- END FORM-->
    </div>
    </div>
    </div>

{% endblock %}