{% extends "_layout_schedule.html"%}
{% block title %}Viettel Localized Incidents{% endblock %}
{%block pagebar%}
 <ul class="page-breadcrumb">
    <li>
        <a href="/home">HOMEPAGE</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="/afe/">NOCPRO AFE RULE</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>AFE Rule</span>
    </li>
</ul>
{%endblock%}
{%block pagetitle%}
    NOCPRO AFE RULE
    {% if (info_mess != "") %}
        <strong> <h3> Info: {{ info_mess }}</h3></strong>
    {% endif %}
{%endblock%}
{% block content%}
    <div class="tab-pane" id="tab_1">
    <div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>ERROR AFE RULE
        </div>

    </div>

    <div class="portlet-body form">
        <!-- BEGIN FORM-->

    </div>
    </div>
    </div>

{% endblock %}