{% extends "_layout_schedule.html"%}
{% block title %}Viettel Localized Incidents{% endblock %}
{%block pagebar%}
 <ul class="page-breadcrumb">
    <li>
        <a href="/home">HOMEPAGE</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="/afe/">NOCPRO NODE FREE LOAD</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>AFE NODE FREE LOAD</span>
    </li>
</ul>
{%endblock%}
{%block pagetitle%}
    NOCPRO FREE LOAD

{%endblock%}
{% block content%}

    <br/>
    <div class="table-responsive">
        <form action="{{ url_for('nocpro_afe.index_srch') }}" class="horizontal-form" id="ajax_form" method="post">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-3">
                                 {{form['key_name'](class = 'form-control input-mask', placeholder = "Search")}}
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn blue" id="alert_show">
                                <i class="fa fa-check">Search</i>
                            </button>
                        </div>
                    </div>
                    <table class="table table-bordered ">
                        <thead>
                            <tr>

                                <th> SYSTEM  </th>
                                <th> DEVICE NAME </th>
                                <th> FAULT NAME</th>
                                <th> OBJECT NAME</th>
                                <th> TYPE</th>
                                <th> DEST NNAME</th>
                                <th> USER UPDATE</th>
                                <th> INSERT TIME</th>
                                <th> UPDATE TIME</th>

                            </tr>

                        </thead>
                        <tbody>
                            {%for x in tbl_lst%}
                            <tr>
                                <td> {{x['SYSTEM_CODE']}} </td>
                                <td> {{x['DEVICE_NAME']}} </td>
                                <td> {{x['FAULT_NAME']}} </td>
                                <td> {{x['OBJECT_NAME']}} </td>
                                <td> {{x['TYPE']}} </td>
                                <td> {{x['DEST_NAME']}} </td>
                                <td> {{x['USER_UPDATE']}} </td>
                                <td> {{x['INSERT_TIME']}} </td>
                                <td> {{x['UPDATE_TIME']}} </td>

                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                    <div align="right" >{{ pagination.links }} </div>
                </div>
         </form>
    </div>

{% endblock %}