{% extends "_layout.html"%}
{% block title %}IRONFACE{% endblock %}
{%block pagebar%}
 <ul class="page-breadcrumb">
    <li>
        <a href="/">HOMEPAGE</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="/token/">TOKEN</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>TOKEN MANAGEMENT</span>
    </li>
</ul>
{%endblock%}
{%block pagetitle%}
    TOKEN MANAGEMENT
{%endblock%}


{% block content%}
<div id='container_chart' style='width:100%; height:400px;'></div >
{% endblock %}
{%block javascript%}
<script>
  $(function () {

    var myChart = Highcharts.chart('container_chart', {
       title: {
        text: 'Token ERC20 LIST, 3/2018-H8'
    },

    subtitle: {
        text: 'Source: etherscan.io'
    },

    yAxis: {
        title: {
            text: 'Number of Coin(base: thousand)'
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

    plotOptions: {
        series: {
            label: {
                connectorAllowed: false
            },
            pointStart: 1
        }
    },

    series: [
        {%for key in number_token%}
            {
                //phai convert name ve dinh dang String ...zz
                name: '{{number_token[key].name}}',
                data: {{number_token[key].data  }}
            },
        {%endfor%}

    ],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }
    });

    });
  </script>
{%endblock%}