{% extends "_layout.html"%}
{% block title %}IRONFACE{% endblock %}
{%block pagebar%}
 <ul class="page-breadcrumb">
    <li>
        <a href="/">HOMEPAGE</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="/chart/">CHART</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>WALLET MANAGEMENT</span>
    </li>
</ul>
{%endblock%}
{%block pagetitle%}
   {{coin_name}} WALLET MANAGEMENT
{%endblock%}


{% block content%}
<div id='container_chart' style='width:100%; height:400px;'></div >
{% endblock %}
{%block javascript%}
<script>
  $(function () {

    var myChart = Highcharts.chart('container_chart', {
       title: {
        text: 'NUMBER WALLET'
    },
    chart :{
           type:'area'
    },
    subtitle: {
        text: 'Source: https://bitinfocharts.com/top-100-richest-bitcoin-addresses.html'
    },

    yAxis: {
        title: {
            text: 'Number of Coin'
        }
    },
    xAxis: {
        categories: {{date_lst|tojson|safe}},
        tickmarkPlacement: 'on',
        title: {
            enabled: false
        }
    },
    legend: {
        layout: 'vertical',
        align: 'right',
        verticalAlign: 'middle'
    },

   plotOptions: {
        area: {
            stacking: 'normal',
            lineColor: '#666666',
            lineWidth: 1,
            marker: {
                lineWidth: 1,
                lineColor: '#666666'
            }
        }
    },

    series: [
        {%for key in number_token%}
            {
                //phai convert name ve dinh dang String ...zz
                name: '{{key.name}}',
                data: {{key.data|tojson|safe}}

            },
        {%endfor%}

    ],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }
    });

    });
  </script>
{%endblock%}