{% extends "_layout.html"%}
{% block title %}IRONFACE{% endblock %}
{%block pagebar%}
 <ul class="page-breadcrumb">
    <li>
        <a href="/">HOMEPAGE</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="/wallet/">WALLET</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>WALLET</span>
    </li>
</ul>
{%endblock%}
{%block pagetitle%}
    WALLET
{%endblock%}


{% block content%}
<div id='container_chart' style='width:100%; height:400px;'></div >
{% endblock %}
{%block javascript%}
<script>
  $(function () {

    var myChart = Highcharts.chart('container_chart', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Check Number Coin'
        },
        xAxis: {
            categories: {{date_time|tojson|safe}}
        },
        yAxis: {
            title: {
                text: 'Number Coin'
            }
        },
        series: [{
            name: 'Number of Coin',
            data: {{number|tojson|safe}}
        }]
      });
    });
  </script>
{%endblock%}