{% extends "_layout_schedule.html"%}
{% block title %}Viettel Localized Incidents{% endblock %}
{%block pagebar%}
 <ul class="page-breadcrumb">
    <li>
        <a href="/home">HOMEPAGE</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="/kick/">Kick User</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Input MSISDN to kick</span>
    </li>
</ul>
{%endblock%}
{%block pagetitle%}
    Add MSISDN to kick
    {% if (info_mess != "") %}
        <strong> <h3> Info: {{ info_mess }}</h3></strong>
    {% endif %}
{%endblock%}
{% block content%}
    <div class="tab-pane" id="tab_1">
    <div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>ADD NEW MSISDN
        </div>

    </div>

    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="{{url_for('kick.kick_user')}}" class="horizontal-form"  method = "POST">
        <div class="form-body">
            <h3 class="form-section">MSISDN INFORMATION</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">MSISDN</label>
                         {{form['msisdn'](class = 'form-control input-mask', placeholder = "MSISDN")}}
                          <span class="help-block"> Example: 84962381985 </span>
                    </div>
                </div>
            <!--/span-->
                <div class="col-md-6">
                    <div class="form-group has-error">
                        <label class="control-label">SGSN</label>
                        {{form['sgsn'](class = 'form-control input-mask', placeholder = 'SGSN')}}
                        <span class="help-block"> Example: SGHL04 </span>
                    </div>
                </div>
            <!--/span-->
            </div>


        </div>

        <div class="form-actions right">
            <button type="submit" class="btn blue" id="alert_show">
                <i class="fa fa-check"></i> Save</button>
        </div>
    </form><!-- END FORM-->
    </div>
    </div>
    </div>

{% endblock %}