{% extends "_layout_schedule.html"%}
{% block title %}Viettel Localized Incidents{% endblock %}
{%block pagebar%}
 <ul class="page-breadcrumb">
    <li>
        <a href="/home">HOMEPAGE</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="/kick/">Kick User</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>Check History Kick User</span>
    </li>
</ul>
{%endblock%}
{%block pagetitle%}
    Check History Kick User
    {% if (err != "") %}
        <strong> <h3> Error: {{ err }}</h3></strong>
    {% endif %}
{%endblock%}
{% block content%}

    <br/>
    <div class="table-responsive">
        <form action="" class="horizontal-form" id="ajax_form" method="post">
                <table class="table table-bordered" id="myTable">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> MSISDN  </th>
                                <th> SGSN </th>
                                <th> USER KICK</th>
                                <th> TIME</th>
                                <th> RESULT</th>


                            </tr>
                        </thead>
                        <tbody>
                            {%for x in web_lst%}
                            <tr>
                                <td> {{loop.index}} </td>
                                <td> {{x.user_is_kicked}} </td>
                                <td> {{x.sgsn}} </td>
                                <td> {{x.user_kick}} </td>
                                <td> {{x.timestamp}} </td>
                                <td> {{x.result}} </td>


                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
         </form>
    </div>

{% endblock %}