{% extends "_layout.html"%}
{% block title %}IRON FACE{% endblock %}
{%block pagebar%}
 <ul class="page-breadcrumb">
    <li>
        <a href="/">HOMEPAGE</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="/coin/">COIN</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>DELETE COIN</span>
    </li>
</ul>
{%endblock%}
{%block pagetitle%}
    DELETE COIN
{%endblock%}
{% block content%}
 <div class="tab-pane" id="tab_1">
    <div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>DELETE COIN
        </div>

    </div>

    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="{{url_for('coin.delete', coin_pair=coin_pair)}}" class="horizontal-form"  method = "post">
        <div class="form-body">
            <h3 class="form-section">ARE YOU SURE TO DELETE THIS COIN ?</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">COIN NAME</label>
                         {{form['coin_pair'](class = 'form-control', placeholder = "Coin pair", value=coin.coin_pair)}}
                        <span class="help-block">  </span>
                    </div>
                </div>
            <!--/span-->

            <!--/span-->
            </div>
        <!--/row-->





            <div class="form-actions left">
                <button type="button" class="btn default" id="backbutton">Không</button>
                <button type="submit" class="btn blue" id="alert_show">
                    <i class="fa fa-check"></i> Có</button>
            </div>
        </div>
    </form><!-- END FORM-->
    </div>
</div>
    </div>


{% endblock %}