{% extends "_layout.html"%}
{% block title %}IRONMAN - NET4CODE{% endblock %}
{%block pagebar%}
 <ul class="page-breadcrumb">
    <li>
        <a href="/">HOMEPAGE</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="/thread/">THREAD CONTROL</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>EDIT THREAD CONTROL</span>
    </li>
</ul>
{%endblock%}
{%block pagetitle%}
    EDIT THREAD CONTROL
{%endblock%}
{% block content%}
 <div class="tab-pane" id="tab_1">
    <div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>EDIT THREAD CONTROL
        </div>

    </div>

    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="{{url_for('thread_control.edit', thread_name=thread_obj.name)}}" class="horizontal-form"  method = "post">
        <div class="form-body">
            <h3 class="form-section">THREAD INFO</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">THREAD NAME</label>
                         {{form['name'](class = 'form-control input-mask', placeholder = "name", value=thread_obj.name, readonly=true)}}
                    </div>

                </div>
                 <div class="col-md-6">
                    <div class="form-group  has-error">
                        <label class="control-label">STATUS</label>
                         {{form['status'](class = 'form-control input-mask', placeholder = "status", value=thread_obj.status)}}
                          <span class="help-block"> START_PENDING will wait about 2 mins to start, STOP_PENDING will wait 2 mins to stop </span>
                    </div>

                </div>
            <!--/span-->
                <div class="col-md-6">
                     <div class="form-group">
                        <label class="control-label">LAST UPDATE</label>
                        {{form['last_update'](class = 'form-control', placeholder = 'last_update', value=thread_obj.last_update, readonly=true)}}
                        <span class="help-block">  </span>
                    </div>
                </div>

            <!--/span-->
            </div>
        <!--/row-->

        <!--/row-->
            <div class="row">


            <!--/span-->

            <!--/span-->
            </div>
            <!--/row-->

        </div>

        <div class="form-actions right">
            <button type="button" class="btn default">KHÔNG</button>
            <button type="submit" class="btn blue" id="alert_show">
                <i class="fa fa-check"></i> ĐỒNG Ý</button>
        </div>
    </form><!-- END FORM-->
    </div>
</div>
    </div>


{% endblock %}