{% extends "_layout.html"%}
{% block title %}IRONFACE{% endblock %}
{%block pagebar%}
 <ul class="page-breadcrumb">
    <li>
        <a href="/">HOMEPAGE</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="/thread/">THREAD CONTROL</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>THREAD CONTROL MANAGEMENT</span>
    </li>
</ul>
{%endblock%}
{%block pagetitle%}
    THREAD CONTROL MANAGEMENT
{%endblock%}
{% block content%}

    <br/>
    <div class="table-responsive">
        <form action="" class="horizontal-form" id="ajax_form" method="post">
                <table class="table table-bordered js-dynamitable ">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> THREAD NAME   </th>
                                <th> STATUS   </th>
                                <th> LAST UPDATE</th>
                                <th> Edit/Delete</th>

                            </tr>
                            <tr>
                                <th> <input  class="js-filter  form-control" type="text" value=""> </th>
                                <th><input class="js-filter  form-control" type="text" value=""></th>
                                <th><input class="js-filter  form-control" type="text" value=""></th>
                                <th><input class="js-filter  form-control" type="text" value=""></th>
                                <th><input class="js-filter  form-control" type="text" value=""></th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for x in thread_lst%}
                            <tr>
                                <td> {{loop.index}} </td>
                                <td> {{x.name}} </td>
                                <td> <a href="{{url_for('thread_control.edit', thread_name= x.name)}}"><strong>{{x.status}} </strong></a></td>
                                <td> {{x.last_update}} </td>
                                <td>
                                    <a href="{{url_for('thread_control.edit', thread_name= x.name)}}" class="btn btn-xs green">
                                        <i class="fa fa-pencil"></i> Edit</a>
                                    <a href="{{url_for('thread_control.delete', thread_name= x.delete)}}" class="btn btn-xs red">
                                        <i class="fa fa-trash-o"></i> Delete</a>
                                </td>

                            </tr>
                            {%endfor%}


                        </tbody>
                    </table>

         </form>
    </div>

{% endblock %}