{% extends "_layout_email.html" %}

{% block content %}

{% set p_style = "font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;" %}

<p style="{{ p_style }}">Hi Thong, These are packet error links in our system last day</p>
<table>
    <tr>
        <th>Node Name</th>
        <th>Link Name</th>
        <th>RTG URL</th>
        <th>Time Begin</th>
        <th>Area</th>
        <th>Count</th>
    </tr>
{% for _item in items %}
    <tr>
        <td> {{ _item.nodeName }}</td>
        <td> {{ _item.linkName }}</td>
        <td> {{ _item.rtg_url }}</td>
        <td> {{ _item.time_begin }}</td>
        <td> {{ _item.area }}</td>
        <td> {{ _item.count_id }}</td>
    </tr>
{% endfor %}

</table>

<p style="{{ p_style }} color: #848484;">---</p>



<p style="{{ p_style }} color: #848484;">---</p>


<p style="{{ p_style }}; margin-top: 30px; color: #1C1C1C;">
  Prepared with ❤ by,<br />
  {{ author_name }}<br />
  {{ author_title }}
</p>

<p style="margin-top: 1em;">
    <small style="color:#8899a6;text-decoration:none;"></small>
</p>

{% endblock %}

{% block footer %}




{% endblock %}