{% extends "_layout_email.html" %}

{% block content %}

{% set p_style = "font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;" %}

<p style="{{ p_style }}">Hi Everybody, These are Top IP Syslog Alarm in our system last day</p>
<table>
    <tr>
        <th>Alarm Name</th>
        <th>Message</th>
        <th>Count</th>
    </tr>
{% for _item in items %}
    <tr>
        <td> {{ _item['ALARM_NAME'] }}</td>
        <td> {{ _item['MESSAGE'] }}</td>
        <td> {{ _item['NUM'] }}</td>
    </tr>
{% endfor %}

</table>

<p style="{{ p_style }} color: #848484;">---</p>



<p style="{{ p_style }} color: #848484;">---</p>


<p style="{{ p_style }}; margin-top: 30px; color: #1C1C1C;">
  Prepared with ❤ by,<br />
  {{ author_name }}<br />
  {{ author_title }}
</p>

<p style="margin-top: 1em;">
    <small style="color:#8899a6;text-decoration:none;"></small>
</p>

{% endblock %}

{% block footer %}




{% endblock %}