{% extends "_layout_email.html" %}

{% block content %}

{% set p_style = "font-family: sans-serif; font-size: 18px; font-weight: normal; margin: 0; margin-bottom: 18px;" %}
{% set p_style_small = "font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;" %}

<p style="{{ p_style }}">Hi Everybody, These are Top IP Syslog Alarm in each network last day</p>
<p style="{{ p_style_small }}">Total CBS: {{ num_cbs }}</p>
<p style="{{ p_style_small }}">Total syslog: {{ num_sec + num_pri }}</p>
<p style="{{ p_style_small }}">Total Primary syslog: {{ num_sec }}</p>
<p style="{{ p_style_small }}">Total Secondary syslog: {{ num_pri }}</p>

<p style="{{ p_style_small }}">Top 10 device's syslog IPBN</p>


<table>
    <tr>
        <th>Device Name</th>
        <th>Alarm Name</th>
        <th>Message</th>
        <th>Count</th>
    </tr>
{% for _item in items_ipbn %}
    <tr>
        <td> {{ _item['DEVICE_NAME'] }}</td>
        <td> {{ _item['ALARM_NAME'] }}</td>
        <td> {{ _item['MESSAGE'] }}</td>
        <td> {{ _item['NUM'] }}</td>
    </tr>
{% endfor %}

</table>

<p style="{{ p_style_small }}">Top 10 device's syslog MPBN</p>

<table>
    <tr>
        <th>Device Name</th>
        <th>Alarm Name</th>
        <th>Message</th>
        <th>Count</th>
    </tr>
{% for _item in items_mpbn %}
    <tr>
        <td> {{ _item['DEVICE_NAME'] }}</td>
        <td> {{ _item['ALARM_NAME'] }}</td>
        <td> {{ _item['MESSAGE'] }}</td>
        <td> {{ _item['NUM'] }}</td>
    </tr>
{% endfor %}

</table>

<p style="{{ p_style_small }}">Top 10 device's syslog PS</p>

<table>
    <tr>
        <th>Device Name</th>
        <th>Alarm Name</th>
        <th>Message</th>
        <th>Count</th>
    </tr>
{% for _item in items_ps %}
    <tr>
        <td> {{ _item['DEVICE_NAME'] }}</td>
        <td> {{ _item['ALARM_NAME'] }}</td>
        <td> {{ _item['MESSAGE'] }}</td>
        <td> {{ _item['NUM'] }}</td>
    </tr>
{% endfor %}

</table>

<p style="{{ p_style_small }}">Top 10 device's syslog DCN</p>

<table>
    <tr>
        <th>Device Name</th>
        <th>Alarm Name</th>
        <th>Message</th>
        <th>Count</th>
    </tr>
{% for _item in items_dcn %}
    <tr>
        <td> {{ _item['DEVICE_NAME'] }}</td>
        <td> {{ _item['ALARM_NAME'] }}</td>
        <td> {{ _item['MESSAGE'] }}</td>
        <td> {{ _item['NUM'] }}</td>
    </tr>
{% endfor %}

</table>

<p style="{{ p_style_small }}">Top CBS</p>

<table>
    <tr>
        <th>Device Name</th>
        <th>Alarm Name</th>
        <th>Network</th>
        <th>Area</th>
        <th>Count</th>
    </tr>
{% for _item in items_cbs %}
    <tr>
        <td> {{ _item['DEVICE_NAME'] }}</td>
        <td> {{ _item['ALARM_NAME'] }}</td>
        <td> {{ _item['NETWORK_TYPE_CODE'] }}</td>
        <td> {{ _item['KV_CODE'] }}</td>
        <td> {{ _item['NUM'] }}</td>
    </tr>
{% endfor %}

</table>

<p style="{{ p_style_small }}">Top CBS</p>

<table>
    <tr>
        <th>Alarm Name</th>
        <th>Device Name</th>
        <th>Port Name</th>
        <th>Description</th>
        <th>Network</th>
        <th>Area</th>
        <th>Count</th>
    </tr>
{% for _item in items_cbs_intf %}
    <tr>
        <td> {{ _item['ALARM_NAME'] }}</td>
        <td> {{ _item['DEVICE_NAME'] }}</td>
        <td> {{ _item['PORT'] }}</td>
        <td> {{ _item['DESCRIPTION_CBS'] }}</td>
        <td> {{ _item['NETWORK_TYPE_CODE'] }}</td>
        <td> {{ _item['KV_CODE'] }}</td>
        <td> {{ _item['NUM'] }}</td>
    </tr>
{% endfor %}

</table>
<p style="{{ p_style }} color: #848484;">---</p>



<p style="{{ p_style }} color: #848484;">---</p>


<p style="{{ p_style }}; margin-top: 30px; color: #1C1C1C;">
  Prepared with ❤ by,<br />
  {{ author_name }}<br />
  {{ author_title }}
</p>

<p style="margin-top: 1em;">
    <small style="color:#8899a6;text-decoration:none;"></small>
</p>

{% endblock %}

{% block footer %}




{% endblock %}