{% extends "_layout_email.html" %}

{% block content %}

{% set p_style = "font-family: sans-serif; font-size: 14px; font-weight: normal; margin: 0; margin-bottom: 15px;" %}

<p style="{{ p_style }}">Hi Everybody, These are Wanphy links description wrong in our system last day</p>
<table>
    <tr>
        <th>Node Name</th>
        <th>IP</th>
        <th>Interface</th>
        <th>Description Old</th>
        <th>Description New</th>
        <th>Error</th>

    </tr>
{% for _item in items %}
    <tr>
        <td> {{ _item['node_name'] }}</td>
        <td> {{ _item['node_ip'] }}</td>
        <td> {{ _item['interface'] }}</td>
        <td> {{ _item['description'] }}</td>
        <td> {{ _item['advise'] }}</td>
        <td> {{ _item['result'] }}</td>

    </tr>
{% endfor %}

</table>

<p style="{{ p_style }} color: #848484;">---</p>



<p style="{{ p_style }} color: #848484;">---</p>


<p style="{{ p_style }}; margin-top: 30px; color: #1C1C1C;">
  Prepared with ❤ by,<br />
  {{ author_name }}<br />
  {{ author_title }}
</p>

<p style="margin-top: 1em;">
    <small style="color:#8899a6;text-decoration:none;"></small>
</p>

{% endblock %}

{% block footer %}




{% endblock %}