{% extends "_layout_schedule.html"%}
{% block title %}Viettel Localized Incidents{% endblock %}
{%block pagebar%}
 <ul class="page-breadcrumb">
    <li>
        <a href="/home">HOMEPAGE</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="/check/">Check Account</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>CHECK ACCOUNT ADSL AND FTTH</span>
    </li>
</ul>
{%endblock%}
{%block pagetitle%}
    CHECK ACCOUNT ADSL AND FTTH
    {% if (err != "") %}
        <strong> <h3> Error: {{ err }}</h3></strong>
    {% endif %}
{%endblock%}
{% block content%}

    <br/>
    <div class="table-responsive">
        <form action="" class="horizontal-form" id="ajax_form" method="post" enctype="multipart/form-data">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="exampleInputFile1">File input</label>
                        <input type="file" name="fileInput">

                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">TOP NUMBER FIND</label>

                        {{form['num_find'](class = 'form-control input-mask', placeholder = "status")}}
                        <span class="help-block"> TOP AGGREGATION NUMBER</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <p class="help-block"> Input CSV file with format Account/Area.
                            <a href="{{ url_for('check.download', filename= '1.csv') }}"> Template File</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-actions right">
                            <button type="submit" class="btn blue" id="alert_show">
                            <i class="fa fa-check"></i> OK</button>
                        </div>
                    </div>

                </div>
             </div>

         </form>
    </div>

{% endblock %}