{% extends "_layout_schedule.html"%}
{% block title %}Viettel Localized Incidents{% endblock %}
{%block pagebar%}
 <ul class="page-breadcrumb">
    <li>
        <a href="/home">HOMEPAGE</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="/check/fttx">CHECK FTTX</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>CHECK FTTX</span>
    </li>
</ul>
{%endblock%}
{%block pagetitle%}
    CHECK FTTX
{%endblock%}
{% block content%}

    <br/>

    <div class="table-responsive">
        <h3>Total account input: <strong>{{ num_input }}</strong>  </h3><br>
        <h3>Total account found in AAA: <strong>{{ num_acc }}</strong>  </h3><br>
        <h3>Total account input wrong format: <strong> {{ num_acc_inp_fail }} </strong>  </h3><br>
        <h3>Total account not online: <strong> {{ num_acc_stop }} </strong>  </h3><br>
        <h3>Total account login fail: <strong> {{ num_acc_lgn_fail }} </strong> </h3><br>

        {% if (_nas_prt|length > 0) and (num_acc > num_acc_inp_fail)  %}
            {% set _num_nas_prt = _nas_prt|length %}
            {% if (_num_nas_prt > num_find) %}
                {% set _num_nas_prt = num_find %}
            {% endif %}
            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">TOP OLT:</span>
                    </div>
                </div>
            </div>

            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="user" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="all">Number</th>
                                    <th class="min-phone-l">Ring</th>
                                    <th class="min-tablet">Rate</th>
                                    <th class="none">Percentage</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for y in range(_num_nas_prt)  %}
                                <tr>
                                    <td style="width:20%"> {{ y + 1 }} </td>
                                    <td style="width:50%">
                                            <strong>{{ _nas_prt[y][0] }} </strong>
                                    </td>
                                    <td style="width:15%">
                                        <span class="text-muted"> {{ _nas_prt[y][1] }} / {{ num_acc - num_acc_inp_fail }} </span>
                                    </td>

                                    <td style="width:15%">
                                        <span class="text-muted"> {{ '%0.2f'|format(_nas_prt[y][1] * 100 / ( num_acc - num_acc_inp_fail )) }}% </span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        {%  endif %}

        {% if (_ring_srt_cnt|length > 0) and (num_ring_srt > 0)  %}
            {% set _num_ring_srt_cnt = _ring_srt_cnt|length %}
            {% if (_num_ring_srt_cnt > num_find) %}
                {% set _num_ring_srt_cnt = num_find %}
            {% endif %}
            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">TOP RING SRT:</span>
                    </div>
                </div>
            </div>

            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="user" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="all">Number</th>
                                    <th class="min-phone-l">Ring</th>
                                    <th class="min-tablet">Rate</th>
                                    <th class="none">Percentage</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for y in range(_num_ring_srt_cnt)  %}
                                <tr>
                                    <td style="width:20%"> {{ y + 1 }} </td>
                                    <td style="width:50%">
                                            <strong>{{ _ring_srt_cnt[y][0] }} </strong>
                                    </td>
                                    <td style="width:15%">
                                        <span class="text-muted"> {{ _ring_srt_cnt[y][1] }} / {{ num_ring_srt }} </span>
                                    </td>

                                    <td style="width:15%">
                                        <span class="text-muted"> {{ '%0.2f'|format(_ring_srt_cnt[y][1] * 100 / (num_ring_srt )) }}% </span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        {%  endif %}
        {% if (_ring_agg_cnt|length > 0) and (num_ring_agg > 0) %}
            {% set _num_ring_agg = _ring_agg_cnt|length %}
            {% if (_num_ring_agg > num_find) %}
                {% set _num_ring_agg = num_find %}
            {% endif %}

            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">TOP AGG:</span>
                    </div>
                </div>
            </div>

            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="user" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="all">Number</th>
                                    <th class="min-phone-l">Ring</th>
                                    <th class="min-tablet">Rate</th>
                                    <th class="none">Percentage</th>
                                </tr>
                            </thead>
                            <tbody>
                             {% for y in range(_num_ring_agg)  %}
                                <tr>
                                    <td style="width:20%"> {{ y + 1 }} </td>
                                    <td style="width:50%">
                                            <strong>{{ _ring_agg_cnt[y][0] }} </strong>
                                    </td>
                                    <td style="width:15%">
                                        <span class="text-muted"> {{ _ring_agg_cnt[y][1] }} / {{ num_ring_agg }} </span>
                                    </td>

                                    <td style="width:15%">
                                        <span class="text-muted"> {{ '%0.2f'|format(_ring_agg_cnt[y][1] * 100 / (num_ring_agg )) }}% </span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        {%  endif %}
        {% if (_bras_cnt|length > 0) and (num_acc - num_acc_inp_fail > 0) %}
            {% set _num_bras_cnt = _bras_cnt|length %}
            {% if (_num_bras_cnt > num_find) %}
                {% set _num_bras_cnt = num_find %}
            {% endif %}

            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">TOP BRAS:</span>
                    </div>
                </div>
            </div>

            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="user" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="all">Number</th>
                                    <th class="min-phone-l">Ring</th>
                                    <th class="min-tablet">Rate</th>
                                    <th class="none">Percentage</th>
                                </tr>
                            </thead>
                            <tbody>
                             {% for y in range(_num_bras_cnt)  %}
                                <tr>
                                    <td style="width:20%">  {{ y + 1 }} </td>
                                    <td style="width:50%">
                                            <strong>{{ _bras_cnt[y][0] }} </strong>
                                    </td>
                                    <td style="width:15%">
                                        <span class="text-muted"> {{ _bras_cnt[y][1] }} / {{ num_acc - num_acc_inp_fail }} </span>
                                    </td>

                                    <td style="width:15%">
                                        <span class="text-muted"> {{ '%0.2f'|format(_bras_cnt[y][1] * 100 / (num_acc - num_acc_inp_fail )) }}% </span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        {%  endif %}

        {% if (_bras_prt|length > 0) and (num_acc - num_acc_inp_fail > 0) %}

            {% set _num_bras_prt = _bras_prt|length %}
            {% if (_num_bras_prt > num_find) %}
                {% set _num_bras_prt = num_find %}
            {% endif %}

            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">TOP BRAS PORT:</span>
                    </div>
                </div>
            </div>

            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="user" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="all">Number</th>
                                    <th class="min-phone-l">Ring</th>
                                    <th class="min-tablet">Rate</th>
                                    <th class="none">Percentage</th>
                                </tr>
                            </thead>
                            <tbody>
                             {% for y in range(_num_bras_prt)  %}
                                <tr>
                                    <td style="width:20%"> {{ y + 1 }} </td>
                                    <td style="width:50%">
                                            <strong>{{ _bras_prt[y][0] }} </strong>
                                    </td>
                                    <td style="width:15%">
                                        <span class="text-muted"> {{ _bras_prt[y][1] }} / {{ num_acc - num_acc_inp_fail }} </span>
                                    </td>

                                    <td style="width:15%">
                                        <span class="text-muted"> {{ '%0.2f'|format(_bras_prt[y][1] * 100 / (num_acc - num_acc_inp_fail )) }}% </span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        {%  endif %}
        {% if (_bras_prt_vlan|length > 0) and (num_acc - num_acc_inp_fail > 0) %}
            {% set _num_bras_prt_vlan = _bras_prt_vlan|length %}
            {% if (_num_bras_prt_vlan > num_find) %}
                {% set _num_bras_prt_vlan = num_find %}
            {% endif %}

            <div class="portlet light portlet-fit bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-settings font-dark"></i>
                        <span class="caption-subject font-dark sbold uppercase">TOP BRAS PORT VLAN:</span>
                    </div>
                </div>
            </div>

            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="user" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="all">Number</th>
                                    <th class="min-phone-l">Ring</th>
                                    <th class="min-tablet">Rate</th>
                                    <th class="none">Percentage</th>
                                </tr>
                            </thead>
                            <tbody>
                             {% for y in range(_num_bras_prt_vlan)  %}
                                <tr>
                                    <td style="width:20%">  {{ y + 1 }} </td>
                                    <td style="width:50%">
                                            <strong>{{ _bras_prt_vlan[y][0] }} </strong>
                                    </td>
                                    <td style="width:15%">
                                        <span class="text-muted"> {{ _bras_prt_vlan[y][1] }} / {{ num_acc - num_acc_inp_fail }} </span>
                                    </td>

                                    <td style="width:15%">
                                        <span class="text-muted"> {{ '%0.2f'|format(_bras_prt_vlan[y][1] * 100 / (num_acc - num_acc_inp_fail )) }}% </span>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        {%  endif %}

        <h1 align="center">Detail Account Info</h1> <br>
        <form action="" class="horizontal-form" id="ajax_form" method="post">
                <table class="table table-bordered " id="myTable">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> ACCOUNT  </th>
                                <th> PORT ACCOUNT  </th>
                                <th> BRAS</th>
                                <th> SUB INTERFACE</th>
                                <th> VENDOR</th>
                                <th> STATUS</th>
                                <th> SERVICE CLASS</th>
                                <th> LAST TIME</th>
                                <th> STOP CAUSE</th>
                                <th> RING AGG</th>
                                <th> RING SRT</th>

                            </tr>

                        </thead>
                        <tbody>
                            {%for x in acc_lst%}
                            <tr>
                                <td> {{loop.index}} </td>
                                <td> {{x.username}} </td>
                                <td> {{x.nas_port}} </td>
                                <td> {{x.brasname}} </td>
                                <td> {{x.bras_port_vlan}} </td>
                                <td> {{x.vendor}} </td>
                                <td> {{x.status}} </td>
                                <td> {{x.serviceclass}} </td>
                                <td> {{x.lasttime}} </td>
                                <td> {{x.stopcause}} </td>
                                <td> {{x.ring_agg}} </td>
                                <td> {{x.ring_srt}} </td>


                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
         </form>
    </div>

{% endblock %}