{% extends "_layout_schedule.html"%}
{% block title %}Viettel Localized Incidents{% endblock %}
{%block pagebar%}
 <ul class="page-breadcrumb">
    <li>
        <a href="/home">HOMEPAGE</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <a href="/intf_not_add_group/">LOG INTERFACE INSERTED INTO GROUP</a>
        <i class="fa fa-circle"></i>
    </li>
    <li>
        <span>LOG INTERFACE INSERTED INTO GROUP ERROR</span>
    </li>
</ul>
{%endblock%}
{%block pagetitle%}
    LOG INTERFACE INSERTED INTO GROUP ERROR

{%endblock%}
{% block content%}
    <div class="tab-pane" id="tab_1">
    <div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Edit LOG INTERFACE INSERTED INTO GROUP
        </div>

    </div>

    <div class="portlet-body form">
        <!-- BEGIN FORM-->

    </div>
    </div>
    </div>

{% endblock %}