<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
{% from "_macros.html" import pagination_generate with context%}
{% from "_macros_dynamic_menu.html" import menu_generate with context%}
<html lang="en">
    <!--<![endif]-->
    <!-- BEGIN HEAD -->

    <head>
        <meta charset="utf-8" />
        <title>VLI - Viettel Localized Incidents</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="Preview page of Metronic Admin Theme #1 for managed datatable samples" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->

        <link href="{{ url_for('static',filename='assets/global/plugins/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static',filename='assets/global/plugins/simple-line-icons/simple-line-icons.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static',filename='assets/global/plugins/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static',filename='assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css')}}" rel="stylesheet" type="text/css" />
		<link href="{{ url_for('static',filename='assets/global/plugins//icheck/skins/all.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{url_for('static' , filename='assets/global/plugins/clockface/css/clockface.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{url_for('static' , filename='assets/global/plugins/select2/css/select2.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{url_for('static' , filename='assets/global/plugins/select2/css/select2-bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{url_for('static', filename='assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{url_for('static', filename='assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css')}}" rel="stylesheet" type="text/css" />

        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{{ url_for('static',filename='assets/global/css/components.min.css')}}" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{{ url_for('static',filename='assets/global/css/plugins.min.css')}}" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="{{ url_for('static',filename='assets/layouts/layout/css/custom.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static',filename='assets/layouts/layout/css/layout.min.css')}}" rel="stylesheet" type="text/css" />
        <link href="{{ url_for('static',filename='assets/layouts/layout/css/themes/darkblue.min.css')}}" rel="stylesheet" type="text/css" id="style_color" />
        <link href="{{ url_for('static',filename='assets/pages/css/search.min.css')}}" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->
        <link rel="shortcut icon" href="{{ url_for('static',filename='assets/global/favicon.ico')}}" />
        <!-- BEGIN THEME DATA TABLE PAGINATION STYLES -->
        <link href="{{url_for('static', filename='assets/global/plugins/sort-filter-pagination/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css" />
        <!-- END THEME DATA TABLE PAGINATION STYLES -->
    <!-- END HEAD -->

    <body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
        <div class="page-wrapper">
            <!-- BEGIN HEADER -->
            <div class="page-header navbar navbar-fixed-top">
                <!-- BEGIN HEADER INNER -->
                <div class="page-header-inner ">
                    <!-- BEGIN LOGO -->
                    <div class="page-logo">
                        <a href="index.html">
                            <!--<img src="{{ url_for('static',filename='assets/layouts/layout/img/logo.png')}}" alt="logo" class="logo-default" />-->

                        </a>

                        <div class="menu-toggler sidebar-toggler">
                            <span></span>
                        </div>
                    </div>
                    <!-- END LOGO -->
                    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                        <span></span>
                    </a>
                    <!-- END RESPONSIVE MENU TOGGLER -->
                    <!-- BEGIN TOP NAVIGATION MENU -->
                    <div class="top-menu">
                        <ul class="nav navbar-nav pull-right">
                            <!-- BEGIN NOTIFICATION DROPDOWN -->
                            <!-- DOC: Apply "dropdown-dark" class after "dropdown-extended" to change the dropdown styte -->
                            <!-- DOC: Apply "dropdown-hoverable" class after below "dropdown" and remove data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to enable hover dropdown mode -->
                            <!-- DOC: Remove "dropdown-hoverable" and add data-toggle="dropdown" data-hover="dropdown" data-close-others="true" attributes to the below A element with dropdown-toggle class -->

                            <!-- END NOTIFICATION DROPDOWN -->
                            <!-- BEGIN INBOX DROPDOWN -->
                            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->

                            <!-- END INBOX DROPDOWN -->
                            <!-- BEGIN TODO DROPDOWN -->
                            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->

                            <!-- END TODO DROPDOWN -->
                            <!-- BEGIN USER LOGIN DROPDOWN -->
                            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                            <li class="dropdown dropdown-user">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <img alt="" class="img-circle" src="{{ url_for('static',filename='assets/layouts/layout/img/avatar3_small.jpg')}}" />
                                    <span class="username username-hide-on-mobile"> Hi, Have a nice day </span>
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-default">


                                    <li>
                                        <a href="/auth/logout">
                                            <i class="icon-key"></i> Log Out </a>
                                    </li>
                                    <li>
                                        <a href="/auth/login">
                                            <i class="icon-key"></i> Log In </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- END USER LOGIN DROPDOWN -->
                            <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                            <li class="dropdown dropdown-quick-sidebar-toggler">
                                <a href="javascript:;" class="dropdown-toggle">
                                    <i class="icon-logout"></i>
                                </a>
                            </li>
                            <!-- END QUICK SIDEBAR TOGGLER -->
                        </ul>
                    </div>
                    <!-- END TOP NAVIGATION MENU -->
                </div>
                <!-- END HEADER INNER -->
            </div>
            <!-- END HEADER -->
            <!-- BEGIN HEADER & CONTENT DIVIDER -->
            <div class="clearfix"> </div>
            <!-- END HEADER & CONTENT DIVIDER -->
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                <!-- BEGIN SIDEBAR -->
                <div class="page-sidebar-wrapper">
                    <!-- BEGIN SIDEBAR -->
                    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                    <div class="page-sidebar navbar-collapse collapse">
                        <!-- BEGIN SIDEBAR MENU -->
                        <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                        <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                        <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                        <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                        <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                            <li class="sidebar-toggler-wrapper hide">
                                <div class="sidebar-toggler">
                                    <span></span>
                                </div>
                            </li>
                            <!-- END SIDEBAR TOGGLER BUTTON -->
                            <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->

                            <li class="nav-item  ">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="icon-diamond"></i>
                                    <span class="title">CHECK ACCOUNT INFORMATION</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item  ">
                                        <a href="/check/fttx" class="nav-link ">
                                            <span class="title">LOCALIZED INCIDENTS ADSL/FTTH</span>
                                        </a>
                                    </li>

                                </ul>

                            </li>
                            <li class="nav-item  ">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="icon-diamond"></i>
                                    <span class="title">IPMS</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item  ">
                                        <a href="/intf_not_add_group" class="nav-link ">
                                            <span class="title">INTERFACE NOT ADD GROUP</span>
                                        </a>
                                    </li>

                                    <li class="nav-item  ">
                                        <a href="/insert_intf_group" class="nav-link ">
                                            <span class="title">RULE INSERT INTERFACE INTO GROUP</span>
                                        </a>
                                    </li>

                                    <li class="nav-item  ">
                                        <a href="/log_insert_intf_group" class="nav-link ">
                                            <span class="title">LOG INTERFACE INSERTED INTO GROUP</span>
                                        </a>
                                    </li>



                                </ul>

                            </li>
                            <li class="nav-item  ">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="icon-diamond"></i>
                                    <span class="title">WEB DENY</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item  ">
                                        <a href="/deny_web/" class="nav-link ">
                                            <span class="title">List Web Deny</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="/deny_web/add_auto" class="nav-link ">
                                            <span class="title">Add Web Deny Auto</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="/deny_web/add_manual" class="nav-link ">
                                            <span class="title">Add Web Deny Manual</span>
                                        </a>
                                    </li>

                                </ul>

                            </li>
                            <li class="nav-item  ">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="icon-diamond"></i>
                                    <span class="title">NOCPRO</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item  ">
                                        <a href="/nocpro_afe/" class="nav-link ">
                                            <span class="title">AFE Rule</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="/nocpro_cabinet_bkk/" class="nav-link ">
                                            <span class="title">CABINET BKK</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="/nocpro_cell_bkk/" class="nav-link ">
                                            <span class="title">CELL BKK</span>
                                        </a>
                                    </li>

                                </ul>





                            </li>
                            <li class="nav-item  ">
                                <a href="javascript:;" class="nav-link nav-toggle">
                                    <i class="icon-diamond"></i>
                                    <span class="title">Kick MSISDN</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul class="sub-menu">
                                    <li class="nav-item  ">
                                        <a href="/kick/" class="nav-link ">
                                            <span class="title">List</span>
                                        </a>
                                    </li>
                                    <li class="nav-item  ">
                                        <a href="/kick/user" class="nav-link ">
                                            <span class="title">Add MSISDN to kick</span>
                                        </a>
                                    </li>

                                </ul>

                            </li>



                        </ul>
                        <!-- END SIDEBAR MENU -->
                        <!-- END SIDEBAR MENU -->
                    </div>
                    <!-- END SIDEBAR -->
                </div>
                <!-- END SIDEBAR -->
                <!-- BEGIN CONTENT -->
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <div class="page-content">
                        <!-- BEGIN PAGE HEADER-->
                        <!-- BEGIN THEME PANEL -->

                        <!-- END THEME PANEL -->
                        <!-- BEGIN PAGE BAR -->
                        <div class="page-bar">
                           {%block pagebar%}
                           {%endblock%}
                        </div>
                        <!-- END PAGE BAR -->
                        <!-- BEGIN PAGE TITLE-->
                        <h1 class="page-title">

                            {%block pagetitle%}

                            {%endblock%}

                        </h1>
                        <!-- END PAGE TITLE-->
                        <!-- END PAGE HEADER-->

						    <div class="row">
                            <div class="col-md-12">
                                {% for message in get_flashed_messages() %}
                                    <div class="alert alert-warning">
                                            <strong>Warning!</strong> {{message}}
                                    </div>

                                {% endfor %}
                                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                        {% block content %}
                        {% endblock %}
							  <!-- END EXAMPLE TABLE PORTLET-->
                            </div>
                        </div>

                                                        <!-- END EXAMPLE TABLE PORTLET-->

                    </div>
                    <!-- END CONTENT BODY -->
                </div>
                <!-- END CONTENT -->
                <!-- BEGIN QUICK SIDEBAR -->
                <a href="javascript:;" class="page-quick-sidebar-toggler">
                    <i class="icon-login"></i>
                </a>
                <div class="page-quick-sidebar-wrapper" data-close-on-body-click="false">
                    <div class="page-quick-sidebar">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="javascript:;" data-target="#quick_sidebar_tab_1" data-toggle="tab"> Users
                                    <span class="badge badge-danger">2</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;" data-target="#quick_sidebar_tab_2" data-toggle="tab"> Alerts
                                    <span class="badge badge-success">7</span>
                                </a>
                            </li>

                        </ul>

                    </div>
                </div>
                <!-- END QUICK SIDEBAR -->
            </div>
            <!-- END CONTAINER -->
            <!-- BEGIN FOOTER -->
            <div class="page-footer">

            </div>
            <!-- END FOOTER -->
        </div>
        <!-- BEGIN QUICK NAV -->

        <!-- END QUICK NAV -->
        <!--[if lt IE 9]>
        <script src="{{ url_for('static',filename='assets/global/plugins/respond.min.js')}}"></script>
        <script src="{{ url_for('static',filename='assets/global/plugins/excanvas.min.js')}}"></script>
        <script src="{{ url_for('static',filename='assets/global/plugins/ie8.fix.min.js')}}"></script>
        <![endif]-->
        <!-- BEGIN CORE PLUGINS -->
        <script src="{{ url_for('static',filename='assets/global/plugins/jquery.min.js')}}" type="text/javascript"></script>
        <script src="{{ url_for('static',filename='assets/global/plugins/bootstrap/js/bootstrap.min.js')}}" type="text/javascript"></script>
        <script src="{{ url_for('static',filename='assets/global/plugins/js.cookie.min.js')}}" type="text/javascript"></script>
        <script src="{{ url_for('static',filename='assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js')}}" type="text/javascript"></script>
        <script src="{{ url_for('static',filename='assets/global/plugins/jquery.blockui.min.js')}}" type="text/javascript"></script>
        <script src="{{ url_for('static',filename='assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js')}}" type="text/javascript"></script>
		 <script src="{{ url_for('static', filename='assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js')}}" type="text/javascript"></script>
        <script src="{{ url_for('static', filename='assets/global/plugins/select2/js/select2.js')}}" type="text/javascript"></script>

        <script src="{{ url_for('static', filename='assets/global/plugins/jquery-repeater/jquery.repeater.js')}}" type="text/javascript"></script>

        <!-- END CORE PLUGINS -->
        <!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="{{url_for('static', filename='assets/global/plugins/jquery-inputmask/jquery.inputmask.bundle.min.js')}}" type="text/javascript"></script>
        <script src="{{url_for('static', filename='assets/global/plugins/jquery-mask/jquery.mask.js')}}" type="text/javascript"></script>
        <!-- END PAGE LEVEL PLUGINS -->
        <!-- BEGIN THEME GLOBAL SCRIPTS -->
        <script src="{{ url_for('static',filename='assets/global/scripts/app.js')}}" type="text/javascript"></script>
        <script src="{{ url_for('static',filename='assets/global/scripts/app.min.js')}}" type="text/javascript"></script>
		 <script src="{{url_for('static', filename='assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js')}}" type="text/javascript"></script>
        <script src="{{url_for('static', filename='assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js')}}" type="text/javascript"></script>

        <script src="{{url_for('static', filename='assets/global/plugins/icheck/icheck.js')}}" type="text/javascript"></script>
        <script src="{{url_for('static', filename='assets/global/plugins/clockface/js/clockface.js')}}" type="text/javascript"></script>
        <!-- END THEME GLOBAL SCRIPTS -->
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="{{ url_for('static',filename='assets/pages/scripts/form-samples.js')}}" type="text/javascript"></script>
        <script src="{{ url_for('static',filename='assets/pages/scripts/form-input-mask.js')}}" type="text/javascript"></script>
							   <script src="{{ url_for('static',filename='assets/pages/scripts/components-date-time-pickers.js')}}" type="text/javascript"></script>
        <script src="{{ url_for('static',filename='assets/pages/scripts/components-select2.js')}}" type="text/javascript"></script>
        <script src="{{ url_for('static',filename='assets/pages/scripts/ui-extended-modals.js')}}" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
        <!-- BEGIN THEME LAYOUT SCRIPTS -->
        <script src="{{ url_for('static',filename='assets/layouts/layout/scripts/layout.js')}}" type="text/javascript"></script>
        <script src="{{ url_for('static',filename='assets/layouts/layout/scripts/demo.js')}}" type="text/javascript"></script>
        <script src="{{ url_for('static',filename='assets/layouts/global/scripts/quick-sidebar.js')}}" type="text/javascript"></script>
        <script src="{{ url_for('static',filename='assets/layouts/global/scripts/quick-nav.js')}}" type="text/javascript"></script>
        <script src="{{ url_for('static',filename='assets/layouts/global/scripts/quick-nav.min.js')}}" type="text/javascript"></script>
		   <script src="{{ url_for('static',filename='assets/pages/scripts/form-repeater.js')}}" type="text/javascript"></script>
        <!--- THEME HIGHCHARTS CHART -->
        <script src="{{ url_for('static',filename='assets/global/plugins/highcharts.js')}}" type="text/javascript"></script>

        <!-- END THEME LAYOUT SCRIPTS -->
			  <!-- BEGIN DATA TABLE SCRIPTS -->

        <script src="{{ url_for('static',filename='assets/global/scripts/gulpfile.js')}}" type="text/javascript"></script>
        <script src="{{ url_for('static',filename='assets/global/plugins/sort-filter-pagination/jquery.dataTables.min.js')}}" type="text/javascript"></script>
        <script src="{{ url_for('static',filename='assets/global/plugins/sort-filter-pagination/script.js')}}" type="text/javascript"></script>

        <!-- END DATA TABLE SCRIPTS -->
        {%block javascript%}
        {%endblock%}

    </body>

</html>