{% macro menu_generate(dynamic_menu) %}

    {% for x in dynamic_menu %}
            {% if x.table_name is defined %}
                <li class="nav-item  ">
                    <a href="/network/{{ x.table_name }}"  class= "nav-link">
                        <span class="title"> {{x.table_description}} </span>
                    </a>
                </li>
            {% endif %}

    {% endfor %}

{% endmacro %}